* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #000000;
}
.logo {
    border-style:solid;
    border-radius: 15px;
}
header {
    background-color: #fa8277;
    color: rgb(10, 6, 6);
    padding: 20px;
    text-align: center;
}

header h1 h2 {
    margin-bottom: 5px;
    text-align: center;
}

.h1{
    margin-bottom: 5px;
    text-align: center;
}

nav {
    background-color: rgb(119, 111, 111);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
}

nav ul {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}

nav ul li
{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    display: inline;
    padding: 15px;
    margin: 7px;
    border: 3px  rgb(17, 13, 13);
    border-radius: 10px;
    border-style: solid;

}

nav ul li:hover
{
    background-color: rgb(82, 72, 72);
}

nav ul li a
{
    color: rgb(22, 15, 15);
    text-decoration: none;
}

section {
    padding: 50px;
    margin: 50px ;
    background-color: white;
    border-radius: 8px;
}

.h2 {
    font-size: 1cm;
    text-align: center;
    color:#000000;
}
section h2 {
    font-size: 1.8cm;
    margin-bottom: 15px;
}

#about, #contact {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #645b5b;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

#id {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 70%;            
    background-color: rgb(177, 165, 165);
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    margin: 150px;
    height: 150%;
}

.column {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
}

table {
    width:80%;
    border :1px solid rgb(5, 4, 4);
    border-collapse: collapse;
    font-size:x-large;
    text-align: center;
    vertical-align: middle;
    padding :2px;
    margin-top: 35px;
    margin-bottom: 35px;
}

th,td {
    border: 1px solid rgb(17, 12, 12);
    text-align: left;
    padding: 8px;
}

thead th {
  width: 25%;
}

.cell-highlight {
  background-color: gold;
  font-weight: bold;
}

.colour_tab
{
    color:rgb(10, 14, 10);
}

.caption{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

main {
    margin-bottom: 30px;
}

.section {
    margin-bottom: 20px;
    text-align: center;
    background-color: #000000;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #3b3939;
}

.address p {
    margin-left: 20px;
}

p {
    margin-bottom: 10px;
}

div{
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

#para{
    text-align: center;
}

.colour_tab{
    width:100%;
    border :1px solid rgb(5, 4, 4);
    border-collapse: collapse;
    font-size:x-large;
    text-align: center;
    vertical-align: middle;
    padding :10px;
}

.end{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #817777;
    color: whitesmoke;
}
.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

 aside{
    text-align: center;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #000000;
  }

article{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    color: #000000;
}